body {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-top {
    max-width: fit-content;
    max-height: auto;
}

.card-body {
    min-height: max-content;
}

.servicios .col-sm-4 {
    display: flex;
    max-width: 80vw;
}

